In [17]:
import os
import re
import numpy as np
import pandas as pd
from glob import glob
from IPython.display import display

method_dir = '/media/temp/DATA21/Project_FAST/CODE/FALST/log/CAMELYON_TextBranchLearnable_20250318_all_pos/Slide_random_Patch_falst_gmm50_20250320_142611'
print(method_dir)
log_results = {}
for instance_shot_name in os.listdir(method_dir):
    # instance_shot_name = '16_InstanceShot'

    instance_auc_df = pd.DataFrame(index=[42, 43, 44, 45, 46], columns=[1, 2, 4, 8, 16])
    bag_auc_df = pd.DataFrame(index=[42, 43, 44, 45, 46], columns=[1, 2, 4, 8, 16])
    # instance_auc_df = pd.DataFrame(index=[42, 43, 44], columns=[1, 2, 4, 8, 16])
    # bag_auc_df = pd.DataFrame(index=[42, 43, 44], columns=[1, 2, 4, 8, 16])

    all_log_paths = glob(os.path.join(method_dir, instance_shot_name, "*.txt"))
    # assert len(all_log_paths) == 25
    for log_path in all_log_paths:
        match = re.match(r"Seed(\d+)_(\d+)_(\d+)\.txt", os.path.basename(log_path))
        if match:
            seed, bag_shot, instance_shot = map(int, match.groups())
        else:
            raise ValueError
        assert instance_shot == int(instance_shot_name.split('_')[0])
        with open(log_path, 'r') as f:
            log_text = [x.strip() for x in f.readlines()]

        # instance auc
        instance_auc_text = [x for x in log_text if x.startswith('merge_InsAUC')]
        if len(instance_auc_text) != 1:
            print(f'Seed: {seed}, Bag shot: {bag_shot}, Instance shot: {instance_shot}')
            continue
        match = re.search(r": (\d+\.\d+),", instance_auc_text[0])
        if match:
            instance_auc = float(match.group(1))
        instance_auc_df.loc[seed, bag_shot] = instance_auc

        # bag auc
        bag_auc_text = [x for x in log_text if x.startswith('merge_BagAUC')]
        assert len(bag_auc_text) == 1
        match = re.search(r": (\d+\.\d+),", bag_auc_text[0])
        if match:
            bag_auc = float(match.group(1))
        bag_auc_df.loc[seed, bag_shot] = bag_auc

    instance_auc_numpy = instance_auc_df.to_numpy().astype(np.float32)
    instance_auc_df.loc['Mean'] = instance_auc_numpy.mean(0)
    instance_auc_df.loc['Std'] = instance_auc_numpy.std(0, ddof=1)
    instance_auc_df.loc['Performance'] = [f"{m:.4f}±{s:.4f}" for m, s in zip(instance_auc_df.loc['Mean'].to_list(), instance_auc_df.loc['Std'].to_list())]

    bag_auc_numpy = bag_auc_df.to_numpy().astype(np.float32)
    bag_auc_df.loc['Mean'] = bag_auc_numpy.mean(0)
    bag_auc_df.loc['Std'] = bag_auc_numpy.std(0, ddof=1)
    bag_auc_df.loc['Performance'] = [f"{m:.4f}±{s:.4f}" for m, s in zip(bag_auc_df.loc['Mean'].to_list(), bag_auc_df.loc['Std'].to_list())]
    
    log_results.update({
        instance_shot: {
            'instance_auc': instance_auc_df,
            'bag_auc': bag_auc_df
        }
    })

    print(f'{instance_shot}-shot Instance')
    print('Instance AUC')
    display(instance_auc_df.style.set_table_styles([{'selector': 'th, td', 'props': [('max-width', '200px')]}]))
    print('Bag AUC')
    display(bag_auc_df.style.set_table_styles([{'selector': 'th, td', 'props': [('max-width', '200px')]}]))
    
    # break

/media/temp/DATA21/Project_FAST/CODE/FALST/log/CAMELYON_TextBranchLearnable_20250318_all_pos/Slide_random_Patch_falst_gmm50_20250320_142611
16-shot Instance
Instance AUC

Bag AUC

Seed: 44, Bag shot: 16, Instance shot: 16
16-shot Instance
Instance AUC

Bag AUC